.link-buy:hover {
    color: var(--VermelhoForte);
}
.group_card{
    padding: 10px 0 42px;
}
.box_card{
    width: 375px;
    height: 500px;
    border: solid 1px var(--Preto);
    padding: 0 10px;
    margin: 10px;
    overflow: unset;
    align-items: center;
}

.box_card:hover{
    border: solid 1px var(--Preto);
    box-shadow: 0px 0px 7px var(--Preto);
}

.group_card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100%;
    margin-bottom: 20px;
}

.box_imageMaisvend{
    height: 250px;
}

.image_maisvend{
    height: 100%;
    padding: 22px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
