.box_geral{
    background-color: rgb(255, 255, 255);
    margin-top: 30px;
}

.image_box{
    height: 440px;
}

.Box_carro{
    align-items: center;
    text-align: center;
}

.button_carro{
    font-size: 3.9rem;
    font-weight: 500;
}