.box_geral{
    background-color: rgb(255, 255, 255);
}

.image_box{
    height: 440px;
}

.Box_carro{
    align-items: center;
    text-align: center;
}

.Text_button{
    font-size: 1.5rem;
    margin-top: 6px;
}