.container-items {
    width: 485px;
    height: 100%;
    
}

.container-items .cart {
    border:none;
    display:flex;
    align-items:end;
    font-size: 0.7rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.24);
    padding-bottom: 10px;
}

.container-items .cart button {
    height: 40px;
    border: none;
    color: grey;
    background: #fff;  
}
.cart-image {
    width: 150px;
}

.return-policy .p1 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.24);
    font-weight: 600;
    margin: 1em 0;
}

.p2, .p3, .order, .subtotal, .delivery, .item-title  {
    font-weight: 700;    
}

.p3{
    margin-top: 10px;
}

.delivery {
    border-bottom: 1px solid rgba(0, 0, 0, 0.24);
}


.btn-finish {
    width: 400px;
    height: 48px;
    background-color:#da0909;
    border:none;
    border-radius: 6px;
    margin-top: 5em;
    color:rgb(235, 232, 232);
    font-size: 0.9rem;
}


.teste {
    display: flex;
    flex-direction: column;  
    justify-content: space-around;
    text-align: justify;
}

.teste2 {
    display: flex;
}

p {
    margin: 0;
}

.order {
    margin-bottom: 1em;
}

.btn-cupon {
    width: 100px;
    height: 30px;
    font-size: 0.8rem;
    background-color:#da0909;
    border:none;
    border-radius: 6px;
    margin: 0.5em 0 6em; 
    color:rgb(235, 232, 232);  
}



@media screen and (max-width: 400px) {
    .teste2{
        flex-direction: column;
        width: 300px;;        
    }
    .btn-finish {
        margin-bottom: 1em;
        width: 300px;
    }   
}

@media screen and (min-width: 401px) and (max-width: 720px) {
    .teste2{
        flex-direction: column;
        width: 300px;        
    }
    .btn-finish {
        margin-bottom: 1em;
        width: 300px;
    }     
}

@media screen and (min-width: 721px) and (max-width: 1200px) {
    .teste2{
        flex-direction: column;
        width: 600px;
             
    }      
    .btn-finish {
        margin-bottom: 1em;
        width: 600px;
    } 
}

@media screen and (min-width: 1201px) and (max-width: 1280px) {
    .order-container{        
        width: 500px;
        padding-left: 100px;             
    }      
    .btn-finish {
        margin-bottom: 1em;
        width: 400px;
    }    
    .teste{
        width: 485px;
    }
}

@media screen and (min-width: 1281px) and (max-width: 1440px) {
    .order-container{
        padding-left: 10em;
        width: 500px;         
    }      
    .btn-finish {
        margin-bottom: 1em;
        width: 340px;    
    }
    .teste{
        width: 500px;
    }
}

@media screen and (min-width: 1441px) and (max-width: 1920px) {
    .order-container{
        padding-left: 10em;
        width: 500px;           
    }      
    .btn-finish {
        margin-bottom: 1em;
        width: 350px;
    }    
    .teste {
        width: 485px;
    }
}


@media screen and (min-width: 1921px) {
    .order-container{
        padding-left: 10em;
        width: 500px;           
    }      
    .btn-finish {
        margin-bottom: 1em;
        width: 350px;
    }    
    .teste {
        width: 485px;
    }    
}

.section-cart{
    margin-top: 2em;
    margin-bottom: 2em;
}





