
* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  box-sizing: border-box;
  color: #1a1a1a;
}

.admin {
  display: flex;
  flex: 1;
  min-height: 100vh;
}
.admin-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 24px auto;
}

.admin-h1 {
  color: #1a1a1a;
  font-size: 2rem;
  text-align: left;
}

.button-icon-table{
  font-size: 20px;
  color:#1a1a1a;
  cursor: pointer;
}


.button-add-product {
  width: 185px;
  height: 48px;
  background: #ff1616;
  border: none;
  border-radius: 8px;
  margin-bottom: 8px;
  color: #ffffff;
}

.button-add-product:hover{
  background:#FF796A;
  border: 1px solid #2a2626;
  color: #2a2626;
}

.button-icon-admin {
display: flex;
flex-direction: row;
}

.chevron-left {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 40px;
  height: 40px;
  border: 2px solid transparent;
  border-radius: 100px;
}

.chevron-left::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 15px;
  height: 15px;
  border-bottom: 2px solid;
  border-left: 2px solid;
  transform: rotate(45deg);
  left: 14px;
  top: 10px
}

.chevron-right {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 40px;
  height: 40px;
  border: 2px solid transparent;
  border-radius: 100px
}
.chevron-right::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 15px;
  height: 15px;
  border-bottom: 2px solid;
  border-right: 2px solid;
  transform: rotate(-45deg);
  right: 14px;
  top: 10px
}


.pages-number-admin {
  padding: 6px 12px;
  font-size: 18px;
}

.button-close-modal{
  float: right;
  padding: 2px 6px;
  border-radius: 4px;
  border: none;
  box-shadow: 2px 2px 2px #dbd4d4;
  font-size: 35px

}
.button-close-modal:hover{
  background-color: #FF796A;
}

.form-h1 {
  text-align: center;
  font-size: 1.4rem;
  margin: 18px 0;

}
.form-admin {
  max-width: 400px;
  min-height: fit-content;
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 0 auto;
  padding: 12px;
  border-radius: 8px;
  background: linear-gradient(145deg, #dcd8d8, #dad8d8);
  box-shadow:  10px 10px 20px #e8e4e4,
               -10px -10px 20px #fffcfc;
}


.div-form {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.form-label {
  display: flex;
  flex-direction: column;
}

.td-description {
  display: inline-block;
  overflow: hidden;
  height: 10rem;
  overflow-y: scroll;
}
.select-category {
  height: 32px;
  padding-left: 4px;
  margin-bottom: 8px;
  border: none;
  border-radius: 4px;
  font-size: 0.9rem;
  font-family: 'Inter',sans-serif;
}


.form-span {
  margin-bottom: 4px;

}

.form-input{
  padding-left: 4px;
  height: 32px;
  border: none;
  border-radius: 4px;
  margin-bottom: 8px;
  font-size: 0.9rem;
  font-family: 'Inter',sans-serif;
}


.container-buttons {
  display: flex;
  margin-top: 16px;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}
.button-form{
  width: 100px;
  height: 48px;
  border: none;
  border-radius: 8px;
}
.save{
  background: #ff1616;
  color: #ffffff;
}
.save:hover {
  background-color: #FF796A;
  border: 1px solid #2a2626;
  color: #2a2626;
}
.cancel{
  background: #f9f8f8;
  border: 1px solid #FF796A;
  color:#FF796A;
}
.cancel:hover{
  border: 1px solid #2a2626;
  color: #2a2626;
}