.link-buy:hover {
    color: var(--VermelhoForte);
}

.group_card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.box_cardNovos{
    height: 510px;
    border: solid 1px var(--Preto);
    padding: 0px 10px;
    margin: 8px;
    overflow:unset;
    align-items: center;
}

.box_cardNovos:hover{
    border: solid 1px var(--Preto);
    box-shadow: 0px 0px 7px var(--Preto);
}

.box_imageVovos{
    height: 300px;
}

.image_novos{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.Text_price{
    font-size: 20px;
    font-weight: bold;
    color: var(--VermelhoForte);
    text-align: center;
}

.Box_botao_novos{
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.Botao_Novos{
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}