.SobreNos{
    color: var(--Branco);
}

.merc_logo{
    height: 90px;
    width: 140px;
}

.align-link{
    text-align: center;
}

.cart-count{
    position: relative;
}

.link-to {
  color: #FFF;
}
.link-to:hover {
   color: var(--VermelhoForte);
}

.Icon-color{
    color: var(--VermelhoForte);
}

.NavBar{
    background-color: var(--Preto);
}

.container-icon-cart{
    position: relative;

}

.quantity-cart{
    position: absolute;
    right: 10px;
    top: 1px;
    background: #ff0000ab;
    color: white;
    font-weight: bold;
    border-radius: 50%;
    font-size: 0.9rem;
    height: 1.2rem;
    width: 1.1rem;
}