.SobreNos{
    color: var(--Branco);
}

.merc_logo{
    height: 90px;
    width: 140px;
}

.align-link{
    text-align: center;
}

.cart-count{
    position: relative;
}

.link-to {
  color: #FFF;
}
.link-to:hover {
   color: var(--VermelhoForte);
}

.Icon-color{
    color: var(--VermelhoForte);
}

.NavBar{
    background-color: var(--Preto);
}