.title_footer{
    color: rgb(255, 22, 22);
}

.box_top_footer{
    margin-bottom: 80px;
}

.Text_sobre_footer{
    padding: 7px;
}

.Text_sobre_logo{
    padding: 3px;
}

.box_sobre_logo{
    margin-top: 17px;
}

.link-to {
    color: #FFF;
}

.link-to:hover {
    color: rgb(255, 22, 22);
}

.Icon-color_footer{
    height: 25px;
    width: 25px;
    margin-top: 7px;
    background-color: #FFF;
    color: black;
    justify-items: center;
    align-items: center;
    text-align: center;
}

.box_icon_footer{
    height: 40px;
    width: 40px;
    background-color: #FFF;
    justify-items: center;
    align-items: center;
    border-radius: 50%;
    text-align: center;
}

.text-xs-center{
    color: rgb(255, 255, 255);
}