.main-footer{
    background-color: var(--Preto);
}

.title_footer{
    color: var(--VermelhoForte);
}

.box_top_footer{
    margin-bottom: 80px;
}

.Text_sobre_footer{
    padding: 7px;
}

.Text_sobre_logo{
    padding: 3px;
}

.box_sobre_logo {
    margin-left: 50px;
}

.link-to {
    color: var(--Branco);
}

.link-to:hover {
    color: var(--VermelhoForte);
}

.Icon-color_footer{
    height: 25px;
    width: 25px;
    margin-top: 7px;
    background-color: var(--Branco);
    color: var(--Preto);
    justify-items: center;
    align-items: center;
    text-align: center;
}

.box_icon_footer{
    height: 40px;
    width: 40px;
    background-color: var(--Branco);
    justify-items: center;
    align-items: center;
    border-radius: 50%;
    text-align: center;
}

.container-contato{
    height: 56px;
    margin-top: 40px;
    margin-bottom: 80px;
}

.container-contato img{
    height: auto;
}

.text-xs-center{
    color: var(--Branco);
}

@media (max-width: 540px) {
    .container-contato{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .box_logo_contato img {
        margin: auto;
        margin-bottom: 0.5rem;
    }
    
    .box_sobre_logo{
        margin-left: 0;
    }
    .box_logo_contato{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
    }

    .box_mail_whats{
        justify-content: center;
    }

    .text_foter_info{
        margin-top: 50px;
    }
}
