.title_footer{
    color: var(--VermelhoForte);
}

.box_top_footer{
    margin-bottom: 80px;
}

.Text_sobre_footer{
    padding: 7px;
}

.Text_sobre_logo{
    padding: 3px;
}

.box_sobre_logo{
    margin-top: 17px;
}

.link-to {
    color: var(--Branco);
}

.link-to:hover {
    color: var(--VermelhoForte);
}

.Icon-color_footer{
    height: 25px;
    width: 25px;
    margin-top: 7px;
    background-color: var(--Branco);
    color: var(--Preto);
    justify-items: center;
    align-items: center;
    text-align: center;
}

.box_icon_footer{
    height: 40px;
    width: 40px;
    background-color: var(--Branco);
    justify-items: center;
    align-items: center;
    border-radius: 50%;
    text-align: center;
}

.text-xs-center{
    color: var(--Branco);
}